$primary-color: #aed2ff;
.banner {
  display: flex;
  width: 100%;
  background-color: $primary-color;
  .banner_con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    .titel {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(15.5px);
      -webkit-backdrop-filter: blur(15.5px);
      border-radius: 10px;
      width: 50%;
      padding: 2rem;
      h1 {
        font-size: 40px;
        text-align: center;
        span {
          margin: 0 0.45rem;
        }
      }
      p {
        padding: 2rem;
        font-size: 14px;
        text-align: center;
      }
    }
    .img_me {
      height: 350px;
      transition: all 0.5s;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.45);
      border-radius: 20px;
      img {
        border-radius: 20px;
        height: 100%;
        object-fit: cover;
      }
    }
    .img_me:hover {
      transform: scale(1.05);
    }
    .img_me:active {
      transform: scale(0.95) rotateZ(1.7deg);
    }
  }
}
